// css layout
// サイトのベースレイアウト

.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  // .layout__header
  &__header {
    grid-area: header;
  }

  // .layout__main
  &__main {
    grid-area: main;
  }

  // .layout__footer
  &__footer {
    grid-area: footer;
  }
}
