#app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  > header {
    @include side-margin;
    box-sizing: border-box;
    grid-area: header;
    padding-top: clamp(1.6rem, 2vw, 1.8rem);
    padding-bottom: clamp(1.6rem, 2vw, 1.8rem);
    border-bottom: 1px solid #eee;
  }

  > main {
    @include side-margin;
    grid-area: main;
  }

  > footer {
    @include side-margin;
    box-sizing: border-box;
    grid-area: footer;
    padding-top: clamp(1.6rem, 2vw, 1.8rem);
    padding-bottom: clamp(1.6rem, 2vw, 1.8rem);
    border-top: 1px solid #eee;
  }
}
